<!DOCTYPE html>
<html lang="en">
<head>
  
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/bootstrap.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <header>
    <h2><a href="/">News Qwacka</a></h2>
   <% if current_user %>
      <h4 class ="log_in_header">Welcome, <a href="/users/<%=current_user.name%>"><%=current_user.name%> </a>!</h4>
      <p class ="log_in_header"> <a href="/log_out">log out</a> </p>
    <% else %>
      <p class ="log_in_header"> <a href="/log_sign">log in / sign up</a> </p>
      <% end %>
  </header>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
